/* Estilos para el fondo de la aplicación */
body {
  background: url('./background.webp') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  padding: 20px;
}

/* Estilos para tablas */
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 90%;
  margin: 20px auto;
  box-shadow: 0 2px 3px rgba(228, 99, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.974);
  color: #000000;
  border-radius: 8px;
  overflow: hidden;
}

/* Estilos generales para celdas de la tabla */
th, td {
  border: 2px solid #ff9800;
  padding: 12px;
  text-align: left;
}

/* Estilos para encabezados de tabla */
th {
  background-color: rgba(233, 109, 0, 0.8);
  font-weight: bold;
}

/* Estilos para el título h2 */
h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 2em;
  color: #ff7300;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

/* Estilos específicos para "niñas" */
h2.ninas {
  color: #ff7300;
}

table.ninas th, table.ninas td {
  border: 2px solid #ff7300;
}

table.ninas th {
  background-color: rgba(233, 109, 0, 0.8);
}

/* Estilos específicos para "niños" */
h2.ninos {
  color: #4caf50;
}

table.ninos th, table.ninos td {
  border: 2px solid #4caf50;
}

table.ninos th {
  background-color: rgba(76, 175, 80, 0.8);
}

/* Estilos para filas de tabla al pasar el ratón */
tbody tr:hover {
  background-color: rgba(43, 225, 61, 0.221);
  transition: background-color 0.3s ease;
}

/* Estilos para botones */
button {
  background-color: #4A90E2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #357ABD;
}

/* Estilos para la barra de navegación */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar .toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}

.navbar a:hover {
  color: #ff7300;
}
