/* Estilos para el fondo de la aplicación */
body {
  background: url('./background2.webp') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  padding: 20px;
}

/* Estilos para tablas */
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 90%;
  margin: 20px auto;
  box-shadow: 0 2px 3px rgba(228, 99, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.974);
  color: #000000;
  border-radius: 8px;
  overflow: hidden;
}

/* Estilos generales para celdas de la tabla */
th, td {
  border: 2px solid #ff9800;
  padding: 12px;
  text-align: left;
}

/* Estilos para encabezados de tabla */
th {
  background-color: rgba(233, 109, 0, 0.8);
  font-weight: bold;
}

/* Estilos para el título h2 */
h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 2em;
  color: #ff7300;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

/* Estilos específicos para "niñas" */
h2.ninas {
  color: #ff7300;
}

table.ninas th, table.ninas td {
  border: 2px solid #ff7300;
}

table.ninas th {
  background-color: rgba(233, 109, 0, 0.8);
}

/* Estilos específicos para "niños" */
h2.ninos {
  color: #4caf50;
}

table.ninos th, table.ninos td {
  border: 2px solid #4caf50;
}

table.ninos th {
  background-color: rgba(76, 175, 80, 0.8);
}

/* Estilos para filas de tabla al pasar el ratón */
tbody tr:hover {
  background-color: rgba(43, 225, 61, 0.221);
  transition: background-color 0.3s ease;
}

/* Estilos para botones */
button {
  background-color: #dfb543dd;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #bd6035fc;
}

.navbar .toolbar {
  background-color: #22ff8db1; 
  display: flex;
  align-items: center;
}

.navbar a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}

.navbar a:hover {
  color: #ff7300;
}
.navbar .toolbar {
  background-color: #22ff8db1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Añade un poco de espacio alrededor */
}

.navbar .toolbar .app-name {
  font-size: 1.5rem; /* Ajusta el tamaño de la fuente según tus necesidades */
}

.navbar .toolbar .app-icon {
  width: 40px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 40px; /* Mantén la proporción si es necesario */
}
.navbar {
  background-color: #333; /* Ajusta el color de fondo según tus preferencias */
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Esto espacia el logo, el título y los botones */
}

.app-icon {
  height: 40px; /* Ajusta el tamaño según tus necesidades */
  margin-right: 10px;
}

.app-title {
  flex-grow: 1; /* Esto hace que el título ocupe el espacio restante disponible */
}

.nav-buttons {
  display: flex;
  gap: 10px; /* Espaciado entre los botones */
}